[Desktop Entry]
Name=TeaLinux Control Center
Exec=/usr/bin/ignsdk -p /opt/ignsdk/tealinux-control-center.ign
Icon=preferences-system
Terminal=false
Type=Application
Categories=Settings
